<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HeapMap</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <!-- 导入组件库 -->
  <script src="https://unpkg.com/element-plus"></script>
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    body {
      font-family: sans-serif;
    }

    body * {
      font-weight: 200;
    }

    #app {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, .1);
    }

    #heatmapContainer {
      width: 100%;
      height: 100%;
    }

    .footer {
      background: white;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
    }

    .min {
      float: left;
    }

    .max {
      float: right;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="heatmapContainer" ref="heatMapContainer">
    </div>
    <!-- footer -->
    <el-card class="footer" ref="footer" shadow="never">
      <div>数据映射</div>
      <span class="min" ref="minRef"></span>
      <span class="max" ref="maxRef"></span>
      <img class="gradient" ref="gradientRef" src="" style="width:100%" />
      <el-button type="primary" size="small" @click="handlerInitInfoInput">输入</el-button>
    </el-card>

    <!-- 输入对话框 -->
    <el-dialog v-model="initInfoDialog" width="45%" title="初始化">
      <!-- 桌面大小 -->
      <el-form :model="rectInfo">
        <el-row>
          <el-form-item label="宽" :label-width="formLabelWidth">
            <el-input v-model="rectInfo.width" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="高" :label-width="formLabelWidth">
            <el-input v-model="rectInfo.height" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="行点数" :label-width="formLabelWidth">
            <el-input v-model="rectInfo.column" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="列点数" :label-width="formLabelWidth">
            <el-input v-model="rectInfo.row" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
      </el-form>
      <el-form :model="form">
        <el-row :gutter="1">
          <el-form-item label="value1" :label-width="formLabelWidth">
            <el-input v-model="form[0][0]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value2" :label-width="formLabelWidth">
            <el-input v-model="form[0][1]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value3" :label-width="formLabelWidth">
            <el-input v-model="form[0][2]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
        <el-row :gutter="2">
          <el-form-item label="value4" :label-width="formLabelWidth">
            <el-input v-model="form[1][0]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value5" :label-width="formLabelWidth">
            <el-input v-model="form[1][1]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value6" :label-width="formLabelWidth">
            <el-input v-model="form[1][2]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
        <el-row :gutter="2">
          <el-form-item label="value8" :label-width="formLabelWidth">
            <el-input v-model="form[2][0]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value8" :label-width="formLabelWidth">
            <el-input v-model="form[2][1]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value9" :label-width="formLabelWidth">
            <el-input v-model="form[2][2]" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
      </el-form>

      
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="hanlderInitInfoClose">取消</el-button>
          <el-button type="primary" @click="hanlderInitInfoSure">确认</el-button>
        </span>
      </template>
    </el-dialog>
    <!--  -->
    <!-- <el-dialog v-model="initPointsDialog" width="45%" title="数据录入">
      <el-form :model="form">
        <template v-for="row in rectInfo.row">
          <el-row :gutter="1">
            <template v-for="column in rectInfo.column">
              <el-form-item label="value1" :label-width="formLabelWidth">
                <el-input v-model="form[row][column]" class="w-50 m-2" autocomplete="off" />
              </el-form-item>
            </template>
          </el-row>
        </template>
      </el-form>
      <template #footer>
        <span class="dialog-footer">
          <el-button @click="handlerInitPointsClose">取消</el-button>
          <el-button type="primary" @click="handlerInitPointsSure">确认</el-button>
        </span>
      </template>
    </el-dialog> -->
  </div>
  <script src="./heatmap.js"></script>
  <script type="text/javascript" src="./generate-points.js"></script>
  <script>
    const { reactive, ref, onMounted, computed, watch, toRaw } = Vue

    const App = {
      name: "App",
      setup() {
        const rectInfo = reactive({
          width: (+window.getComputedStyle(document.body).width.replace(/px/, '')),
          height: (+window.getComputedStyle(document.body).height.replace(/px/, '')),
          column: 3,
          row: 3
        })
        let form = reactive(Array.from({length: 3}, _ => new Array(3).fill(floor(random() * 100))))
        const initInfoDialog = ref(false)
        const initPointsDialog = ref(false)

        const heatMapContainer = ref(null)
        const gradientRef = ref(null)
        const minRef = ref(null)
        const maxRef = ref(null)

        let instance = new GeneratePoints(rectInfo.width, rectInfo.height, 3, 3, 50)
        // instance.init()
        // instance.computedBoundary()
        // instance.perOriginPointDfs()

        const data = computed(() => {
          const values = form.map(item => item.value)
          return {
            min: Math.min(...values),
            max: Math.max(...values),
            data: form
          }
        })

        const formLabelWidth = '80px'
        let heatMapInstance = undefined

        const canvasEl = document.createElement('canvas')
        const ctx = canvasEl.getContext("2d")
        ctx.translate(rectInfo.width / 2, rectInfo.height / 2)
        ctx.scale(1, -1)
        const legendCanvas = document.createElement('canvas')
        legendCanvas.width = 100;
        legendCanvas.height = 10;

        const legendCtx = legendCanvas.getContext('2d')
        let gradientCfg = {};

        function handlerInitInfoInput() {
          heatMapInstance.setData({
            min: 0,
            max: 100,
            data: []
          })
          heatMapInstance.repaint()
          initInfoDialog.value = true
        }
        function hanlderInitInfoClose() {
          initInfoDialog.value = false
        }
        function hanlderInitInfoSure() {
          // heatMapInstance.setData(generate())
          // let matrixArr = Array.from({length: rectInfo.row}, _ => new Array(rectInfo.column).fill(0))
          // form = reactive(matrixArr)
          instance.initPoints(form).computedBoundary().perOriginPointDfs()
          heatMapInstance.setData({
            min: 0,
            max: 100,
            data: instance.data
          })
          initInfoDialog.value = false
          // initPointsDialog.value = true
        }

        function handlerInitPointsClose() {

        }

        function handlerInitPointsSure() {

        }

        function updateLegend(data) {
          minRef.value.innerHTML = data.min
          maxRef.value.innerHTML = data.max
          if (data.gradient != gradientCfg) {
            gradientCfg = data.gradient
            let gradient = legendCtx.createLinearGradient(0, 0, 100, 1)
            for (let key in gradientCfg) {
              gradient.addColorStop(key, gradientCfg[key])
            }

            legendCtx.fillStyle = gradient
            legendCtx.fillRect(0, 0, 100, 10)
            gradientRef.value.src = legendCanvas.toDataURL()
          }
        }

        onMounted(() => {
          heatMapInstance = h337.create({
            container: heatMapContainer.value,
            canvas: canvasEl,
            // backgroundColor: 'blue',
            width: rectInfo.width,
            // gradient: 0.6,
            gradient: {
              '0.1': '#313695',
              '0.2': '#313695',
              '0.3': '#74add1',
              '0.4': '#abd9e9',
              '0.5': '#e0f3f8',
              '0.6': '#ffffbf',
              '0.7': '#fee090',
              '0.8': '#fdae61',
              '0.9': '#f46d43',
              '1': '#d73027',
              '1': '#a50026'
            },
            height: rectInfo.height,
            opacity: 0.8,
            radius: 100,
            blur: 1,
            onExtremaChange: function onExtremaChange(data) {

              updateLegend({
                min: 0,
                max: 100
              });
            }
          })
          // heatMapInstance.setData({
          //   min: 0,
          //   max: 100,
          //   data: instance.data
          // })
        })

        return {
          form,
          minRef,
          maxRef,
          rectInfo,
          gradientRef,
          initInfoDialog,
          initPointsDialog,
          hanlderInitInfoSure,
          hanlderInitInfoClose,
          handlerInitPointsClose,
          handlerInitPointsSure,
          handlerInitInfoInput,
          formLabelWidth,
          heatMapContainer
        }
      }
    }

    const app = Vue.createApp(App).use(ElementPlus).mount("#app")


  </script>
</body>

</html>