<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HeapMap</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
  <!-- 导入组件库 -->
  <script src="https://unpkg.com/element-plus"></script>
  <style>
    body,
    html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    body {
      font-family: sans-serif;
    }

    body * {
      font-weight: 200;
    }

    #app {
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, .1);
    }

    #heatmapContainer {
      width: 100%;
      height: 100%;
    }

    .footer {
      background: white;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 10px;
    }

    .min {
      float: left;
    }

    .max {
      float: right;
    }
  </style>
</head>

<body>
  <div id="app">
    <div id="heatmapContainer" ref="heatMapContainer">
    </div>
    <!-- footer -->
    <el-card class="footer" ref="footer" shadow="never">
      <div>数据映射</div>
      <span class="min" ref="minRef"></span>
      <span class="max" ref="maxRef"></span>
      <img class="gradient" ref="gradientRef" src="" style="width:100%" />
      <el-button type="primary" size="small" @click="handlerInput">输入</el-button>
    </el-card>

    <!-- 输入对话框 -->
    <el-dialog v-model="dialogInput" width="45%" title="数据录入">
      <!-- 桌面大小 -->
      <el-form :model="rectInfo">
        <el-row>
          <el-form-item label="宽" :label-width="formLabelWidth">
            <el-input v-model="rectInfo.width" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="高" :label-width="formLabelWidth">
            <el-input v-model="rectInfo.height" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
      </el-form>
      <!-- 数据表单 -->
      <el-form :model="form">
        <el-row :gutter="1">
          <el-form-item label="value1" :label-width="formLabelWidth">
            <el-input v-model="form[0].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value2" :label-width="formLabelWidth">
            <el-input v-model="form[1].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value3" :label-width="formLabelWidth">
            <el-input v-model="form[2].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
        <el-row :gutter="2">
          <el-form-item label="value4" :label-width="formLabelWidth">
            <el-input v-model="form[3].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value5" :label-width="formLabelWidth">
            <el-input v-model="form[4].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value6" :label-width="formLabelWidth">
            <el-input v-model="form[5].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
        <el-row :gutter="2">
          <el-form-item label="value8" :label-width="formLabelWidth">
            <el-input v-model="form[6].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value8" :label-width="formLabelWidth">
            <el-input v-model="form[7].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
          <el-form-item label="value9" :label-width="formLabelWidth">
            <el-input v-model="form[8].value" class="w-50 m-2" autocomplete="off" />
          </el-form-item>
        </el-row>
      </el-form>

      <template #footer>
        <span class="dialog-footer">
          <el-button @click="hanlderClose">取消</el-button>
          <el-button type="primary" @click="handlerSure">确认</el-button>
        </span>
      </template>
    </el-dialog>
    <!--  -->

  </div>
  <script src="./heatmap.js"></script>
  <script>
    const { reactive, ref, onMounted, computed, watch, toRaw } = Vue

    const App = {
      name: "App",
      setup() {
        const rectInfo = reactive({
          width: (+window.getComputedStyle(document.body).width.replace(/px/, '')),
          height: (+window.getComputedStyle(document.body).height.replace(/px/, ''))
        })
        let form = reactive(initPoint())
        const dialogInput = ref(false)

        const heatMapContainer = ref(null)
        const gradientRef = ref(null)
        const minRef = ref(null)
        const maxRef = ref(null)

        const data = computed(() => {
          const values = form.map(item => item.value)
          return {
            min: Math.min(...values),
            max: Math.max(...values),
            data: form
          }
        })
        const formLabelWidth = '80px'
        let heatMapInstance = undefined

        const canvasEl = document.createElement('canvas')
        const ctx = canvasEl.getContext("2d")
        ctx.translate(rectInfo.width / 2, rectInfo.height / 2)
        ctx.scale(1, -1)
        const legendCanvas = document.createElement('canvas')
        legendCanvas.width = 100;
        legendCanvas.height = 10;

        const legendCtx = legendCanvas.getContext('2d')
        let gradientCfg = {};

        // 生成数据
        function generateData() {
          let data = [];
          for (let i = 0; i <= rectInfo.width; i += 10) {
            for (let j = 0; j <= rectInfo.height; j += 10) {
              // let x = (max - min) * i / 200 + min;
              // let y = (max - min) * j / 100 + min;
              data.push({ x: i, y: j, value: 70, radius: Math.random() * 100 + 50 });
              // data.push([i, j, normalDist(theta, x) * normalDist(theta, y)]);
            }
          }
          return data;
        }

        function handlerInput() {
          dialogInput.value = true
        }
        function hanlderClose() {
          dialogInput.value = false
        }
        function handlerSure() {
          heatMapInstance.setData(generate())
          dialogInput.value = false
        }

        function updateLegend(data) {
          minRef.value.innerHTML = data.min
          maxRef.value.innerHTML = data.max
          if (data.gradient != gradientCfg) {
            gradientCfg = data.gradient
            let gradient = legendCtx.createLinearGradient(0, 0, 100, 1)
            for (let key in gradientCfg) {
              gradient.addColorStop(key, gradientCfg[key])
            }

            legendCtx.fillStyle = gradient
            legendCtx.fillRect(0, 0, 100, 10)
            gradientRef.value.src = legendCanvas.toDataURL()
          }
        }

        // generate 1000 datapoints
        function generate() {
          // randomly generate extremas
          var extremas = [(Math.random() * 1000) >> 0, (Math.random() * 1000) >> 0];
          var max = Math.max.apply(Math, extremas);
          var min = Math.min.apply(Math, extremas);
          var t = [];
          for (var i = 0; i < 50; i++) {
            var x = (Math.random() * rectInfo.width) >> 0;
            var y = (Math.random() * rectInfo.height) >> 0;
            var c = ((Math.random() * max - min) >> 0) + 100;
            // btw, we can set a radius on a point basis
            var r = (Math.random() * 80) + 300 >> 0;
            // add to dataset
            t.push({ x: x, y: y, value: c, radius: r });
          }
          return {
            min: min,
            max: max,
            data: t
            // data: generateData()
          }
        };

        function initPoint() {
          const width = rectInfo.width
          const height = rectInfo.height
          const xGap = Math.floor(width / 4)
          const yGap = Math.floor(height / 4)
          let res = []
          let x = 0;
          let y = 0;
          let index = 0;
          for (let i = 1; i < 4; i++) {
            for (let j = 1; j < 4; j++) {
              x = i * xGap
              y = j * yGap
              value = 100
              res.push({
                x: x,
                y: y,
                value: value,
                radius: 100,
              })
            }
          }
          return res
        }

        onMounted(() => {
          heatMapInstance = h337.create({
            container: heatMapContainer.value,
            canvas: canvasEl,
            width: rectInfo.width,
            height: rectInfo.height,
            maxOpacity: 0.5,
            minOpacity: 0.1,
            radius: 100,
            blur: 1,
            onExtremaChange: function onExtremaChange(data) {
              // data.min = 0
              // data.max = 100
              updateLegend(data);
            }
          })
          // heatMapInstance.setData(generate())
          // heatMapInstance.setData()
        })

        return {
          form,
          minRef,
          maxRef,
          rectInfo,
          gradientRef,
          dialogInput,
          handlerSure,
          hanlderClose,
          handlerInput,
          formLabelWidth,
          heatMapContainer
        }
      }
    }

    const app = Vue.createApp(App).use(ElementPlus).mount("#app")


    function GeneratePoints(width, height, row = 3, column = 3, pointGap = 20) {
      this.width = width
      this.height = height
      this.row = row
      this.column = column
      this.pointGap = pointGap
      this.vector = [[0, pointGap], [0, -pointGap], [pointGap, 0], [-pointGap, 0]]
      this.xAxisGap = Math.floor(width / (column + 1))
      this.yAxisGap = Math.floor(height / (row + 1))

      this.pointsOrigin = []
      this.data = []
    }

    GeneratePoints.prototype.init = function () {
      for (let r = 1; r <= this.row; r++) {
        let colArr = []
        for (let c = 1; c <= this.column; c++) {
          colArr.push({
            x: this.xAxisGap * c,
            y: this.yAxisGap * r,
            value: Math.random() * 100 + 30,
            top: 0,
            bottom: 0,
            left: 0,
            right: 0,
            radius: 100
          })
        }
        this.pointsOrigin.push(colArr)
      }
    }
    // 右边的点到左边的点的距离
    // 用于确定右边点的left,左边点的right
    GeneratePoints.prototype.rightToLeftBoundary = function (currentPoint, leftPoint) {
      const leftDistance = currentPoint.x - leftPoint.x
      const leftTotal = currentPoint.value + leftPoint.value
      const leftScale = (currentPoint.value / leftTotal) * leftDistance
      currentPoint.left = currentPoint.x - leftScale
      leftPoint.right = leftPoint.x + leftDistance - leftScale
    }
    // 底部的点到顶部的点的距离
    // 用于确定底部点的top, 顶部点的bottom
    GeneratePoints.prototype.bottomToTopBoundary = function (currentPoint, topPoint) {
      const topDistance = currentPoint.y - topPoint.y
      const topTotal = currentPoint.value + topPoint.value
      const topScale = (currentPoint.value / topTotal) * topDistance
      
      currentPoint.top = currentPoint.y - topScale
      topPoint.bottom = topPoint.y + topDistance - topScale
    }
    GeneratePoints.prototype.computedBoundary = function () {
      // 计算外边 上下边界
      for (let i = 0; i < this.column; i++) {
        this.pointsOrigin[0][i].top = 0
        this.pointsOrigin[this.row - 1][i].bottom = this.height
        // 最后一排的上边界
        // const 
        this.bottomToTopBoundary(this.pointsOrigin[this.row - 1][i], this.pointsOrigin[this.row - 2][i])
        if (i > 0) {
          this.rightToLeftBoundary(this.pointsOrigin[0][i], this.pointsOrigin[0][i - 1])
          this.rightToLeftBoundary(this.pointsOrigin[this.row - 1][i], this.pointsOrigin[this.row - 1][i - 1])
        }
      }

      // 计算外边 左右边界
      for (let i = 0; i < this.row; i++) {
        this.pointsOrigin[i][0].left = 0
        this.pointsOrigin[i][this.column - 1].bottom = this.height
        // 最后一列的左边界
        // const 
        this.rightToLeftBoundary(this.pointsOrigin[i][this.column - 1], this.pointsOrigin[i][this.column - 2])
        if (i > 0) {
          this.bottomToTopBoundary(this.pointsOrigin[i][0], this.pointsOrigin[i - 1][0])
          this.bottomToTopBoundary(this.pointsOrigin[i][this.column - 1], this.pointsOrigin[i - 1][this.column - 1])
        }
      }
      /**
       * 计算内部点的上下左右边界
       * 上下左右边界的距离为
       * 相同方向上点的value占比 * 两点之间同方向的距离
       * 
      */
      for (let i = 1; i < this.row - 1; i++) {
        for (let j = 1; j < this.column - 1; j++) {
          // top
          this.bottomToTopBoundary(this.pointsOrigin[i][j], this.pointsOrigin[i - 1][j - 1])
          // left 
          this.rightToLeftBoundary(this.pointsOrigin[i][j], this.pointsOrigin[i][j - 1])
        }
      }
    }
    // 用于计算根据每个原始点的dfs
    GeneratePoints.prototype.perOriginPointDfs = function () {
      let points = this.pointsOrigin.flat().sort((p1, p2) => p1.value - p2.value)
      while(points.length) {
        let point = points.pop()
        this._bfs(point)
      }
      
      return this.data
    }
    GeneratePoints.prototype._bfs = function (currentPoint) {
      const {
        value: initValue,
        left: leftBoundary,
        right: rightBoundary,
        top: topBoundary,
        bottom: bottomBoundary
      } = currentPoint
      const queue = [currentPoint]
      const vector = this.vector
      const data = this.data
      const memo = {}
      while(queue.length) {
        const point = queue.pop()
        for (let v of vector) {
          let x = point.x + v[0]
          let y = point.y + v[1]
          let key = x + '_' + y
          if(memo[key]) continue
          let value = point.value - 1
          if(x >= leftBoundary && x <= rightBoundary && y >= topBoundary && y <= bottomBoundary) {
            memo[key] = true
            data.push({
              x: x,
              y: y,
              value: value,
              radius: 90
            })
            queue.push({
              x: x,
              y: y ,
              value: value
            })
          }
        }
      }
      return data
    }

    let instance = new GeneratePoints(500, 500, 3, 3, 10)
    instance.init()
    instance.computedBoundary()
    instance.perOriginPointDfs()
    console.log(instance.data)
  </script>
</body>

</html>